<div id="intro" class="view">

    <div class="mask rgba-black-strong">
        <br>
        <br>
        <br>
        <br>


        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">


                    <h2>Inventory List</h2>
                    <table>
                        {{#each inventory}}
                        <tr id='item_row'>
                            <td><input type="text" class="item-name-update" data-id={{this.id}}
                                    value="{{this.item_name}}" placeholder="Item Name"></td>
                            <td><input type="text" class="item-format-update" data-id={{this.id}}
                                    value="{{this.item_format}}" placeholder="Item Packaging"></td>
                            <td><input type="text" class="item-number-update" data-id={{this.id}}
                                    value={{this.number_items}} placeholder="0">
                            </td>
                            <td><input type="text" class="item-category-update" data-id={{this.id}}
                                    value="{{this.category}}" placeholder="Item Category"></td>
                            <td><button type="submit" button_id={{this.id}} class="delete-button">Delete</button>
                                <button type="submit" button_id={{this.id}} class="update-button">Update</button>
                                <button type="submit" button_id={{this.id}} class="move-to-shopping-button">Move to
                                    Shopping List</button>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="list-entry">
                        <form class="add-inventory">
                            {{!-- item_name,item_format,number_items,category,createdAt,updatedAt,UserId --}}
                            <div class="form-group">
                                <label for="ca">New Inventory Item:</label>
                                <input type="text" id="item-name-input" placeholder="Item Name">
                                <label for="ca">Item Format:</label>
                                <input type="text" id="item-format-input" placeholder="Item Format">
                                <label for="ca">Number Items:</label>
                                <input type="text" id="item-number-input" placeholder="0">
                                <label for="ca">Category:</label>
                                <input type="text" id="item-category-input" placeholder="Category">

                            </div>

                            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span> <span class="msg"></span>
                            </div>

                            <button type="submit">Add Item</button>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>