<div id="intro" class="view">

    <div class="mask rgba-black-strong">
        <br>
        <br>
        <br>
        <br>


        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">


                    <h2>Shopping List</h2>

                    <table>
                        {{#each ShoppingList}}
<<<<<<< Updated upstream
                        <tr id='item_row'>
                            <td><input type="text" class="item-name-update" data-id={{this.id}}
                                    value="{{this.item_name}}" placeholder="Item Name"> </td>
                            <td><input type="text" class="item-format-update" data-id={{this.id}}
                                    value="{{this.item_format}}" placeholder="Item Packaging"></td>
                            <td><input type="text" class="item-number-update" data-id={{this.id}}
                                    value={{this.number_items}} placeholder="0">
                            </td>
                            <td><input type="text" class="item-category-update" data-id={{this.id}}
                                    value="{{this.category}}" placeholder="Item Category"></td>
                            <td><button type="submit" button_id={{this.id}} class="delete-button">Delete</button>
                                <button type="submit" button_id={{this.id}} class="update-button">Update</button>
                                <button type="submit" button_id={{this.id}} class="move-button">Move to
                                    Inventory List</button>

                        </tr>
=======
                        <div class="row list-row">
                            <div class="col-md-3"><input type="text" class="item-list item-name-update"
                                    data-id={{this.id}} value="{{this.item_name}}" placeholder="Item Name"></div>
                            <div class="col-md-2"><input type="text" class="item-list item-format-update  line-input-2"
                                    data-id={{this.id}} value="{{this.item_format}}" placeholder="Item Packaging"></div>
                            <div class="col-md-1"><input type="text" class="item-list item-number-update"
                                    data-id={{this.id}} value={{this.number_items}} placeholder="0"></div>
                            <div class="col-md-2"><input type="text"
                                    class="item-list item-category-update  line-input-2" data-id={{this.id}}
                                    value="{{this.category}}" placeholder="Item Category"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <button type="submit" button_id={{this.id}} class="sl-add-button  btn-dark"><i
                                        class="fa fa-plus"></i></button>
                                <button type="submit" button_id={{this.id}} class="delete-button  btn-dark"><i
                                        class="fa fa-remove"></i></button>
                                <button type="submit" button_id={{this.id}} class="update-button  btn-dark"><i
                                        class="fa fa-edit"></i></button>
                                <button type="submit" button_id={{this.id}} class="sl-move-button  btn-dark"><i
                                        class="fa fa-arrow-right"></i></button></div>
                        </div>
>>>>>>> Stashed changes
                        {{/each}}
                    </table>
                    <div class="list-entry">
                        <form class="add-shopping">
                            {{!-- item_name,item_format,number_items,category,createdAt,updatedAt,UserId --}}
                            <div class="form-group">
                                <label for="ca">New Shopping Item:</label>
                                <input type="text" id="item-name-input" placeholder="Item Name">
                                <label for="ca">Item Format:</label>
                                <input type="text" id="item-format-input" placeholder="Item Format">
                                <label for="ca">Number Items:</label>
                                <input type="text" id="item-number-input" placeholder="0">
                                <label for="ca">Category:</label>
                                <input type="text" id="item-category-input" placeholder="Category">

                            </div>

                            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span> <span class="msg"></span>
                            </div>

                            <button type="submit">Add Item</button>

                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>